<meta name="google-site-verification" content="rl62dI2fLFkSWsQxhk4aeP8KpDVizp5K-L2e_4ATikY" />
<meta name="keywords" content="sws, conference, 2024, Poland, Biebrza, Goniadz">
<meta property="og:title" content="19th conference of the European chapter of the Society of Wetland Scientists">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="https://swseurope2024.bagna.pl/">
<meta property="og:image" content="https://swseurope2024.bagna.pl/images/shared.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://swseurope2024.bagna.pl/images/shared.png">
<meta name="twitter:title" content="19th conference of the European chapter of the Society of Wetland Scientists">
<meta name="twitter:description" content="">
