.image-header {
    position: relative;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.image-header-logo {
    height: 100px;

    @media (min-width: $min-desktop) {
        height: 150px;
    }
}

.image-header-text {

    .h1,.h2 {
        color:var(--primary-500);
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 500;
    }
}

.image-header-overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    padding-bottom: var(--gutter);
    bottom: 0;
    left: 0;
    width: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    margin-top: 60px;
    @media (min-width: $min-desktop) {
        margin-top:80px;
    }
}
