.logos {
    display: flex;
    flex-wrap: wrap;
     
    .logo {
        max-height: 80px;
        margin: 10px;

        @media screen and (min-width: $min-desktop) {
            max-height: 100px;
            max-width: 100px;
            margin: 20px;   
        }
    }
}
