.program-header {
    display: flex;
    justify-content: flex-start;
    h2 {
        flex-grow: 1;
        text-align: left;
        margin-block-end: 0;
        padding: 20px;
    }
}


.separator {
    hr {
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        height: 2px;
        background-color: var( --primary-600);
    }
}

.card {
    margin-bottom: 50px;
    padding: 0;
}

.card-content {
    padding: 30px;
}
