.program-header {
    display: flex;
    justify-content: center;
    h2 {
        flex-grow: 1;
        text-align: center;
        margin-block-end: 0;
        padding: 20px;
    }
}


.separator {
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.card {
    margin-bottom: 50px;
    padding: 0;
}

.card-content {
    padding: 30px;
}
