.text-image-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    margin-bottom: 50px;
    background: var(--white);

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;

        .text {
            flex-basis: 70%;
        }
    }

    img {
        max-width: 150px;
    }
}
