<div class="table-container">
 <div class="table-header">
    Sunday 23 June
 </div>
 <div class="table-cell">
    20:00-21:00
 </div>
 <div class="table-description">
    Registration and welcome reception (Hotel)
 </div>
 <div class="table-header">
    Monday 24 June
 </div>
 <div class="table-cell"> 
    8:00 – 9:00
 </div>
 <div class="table-description">
    Registration (Hotel)
 </div>

 
<div class="table-container-special">
    <div class="table-cell">
        <b>9:00-10:45</b>
     </div>
    <div class="table-description">
        <b>OPENING PLENARY SESSION: WETLANDS ACROSS TIME SCALES (chair Wiktor Kotowski) <br>
            (lecture room A)</b></div>
    <div class="table-cell">
        9:00
     </div>
     <div class="table-description">
        Opening addresses</div>
    <div class="table-cell">
        9:10 </div>
     <div class="table-description">
        Keynote lecture - Jane Madgwick: Wetlands as essential global commons</div>
    <div class="table-cell">
        9:50 </div>
     <div class="table-description">
        Keynote lecture - Mariusz Lamentowicz: Wetlands across time: exploring, understanding, and predicting their development and functions at local and global scales</div>
    <div class="table-cell">
        10:30
     </div>
     <div class="table-description">
        Łukasz Kozub: Introduction midconference field trips</div>
</div>

<div class="table-cell">
    10:45-11:15
 </div>
 <div class="table-description">
    Coffee break (Restaurant)
 </div>

 <div class="table-container-special">
    <div class="table-cell">
        <b>PARALLEL SESSIONS</b>
     </div>
    <div class="table-cell">
        <b>I LEARNING FROM THE PAST - chair Mariusz Lamentowicz <br>
            (lecture room A)</b></div>
    <div class="table-cell">
        <b>II THE RACE AGAINST POLLUTION - chair Dominik Zak <br>
            (lecture room B)</b>    </div>

    <div class="table-cell">
        11:15
    </div>
    <div class="table-cell">
        Jakub Niebieszczański: Island, lake and wetland: a palaeoecological and geoarchaeological reconstruction of Early Bronze Age and Early Iron Age settlements in Bruszczewo (Western Poland)    </div>
    <div class="table-cell">
        Jan Vymazal: Ecosystem Services of Urban Wetlands    </div>
    <div class="table-cell">
        11:30
    </div>
    <div class="table-cell">
        Karina Apolinarska: The temporal variability of the Holocene CaCO3 deposition at four alkaline fens in the young glacial area of central Europe
    </div>
    <div class="table-cell">
        Adam Sochacki: Subsurface flow constructed wetlands for the treatment of agricultural drainage: over five years of operation    
    </div>
    <div class="table-cell">
        11:45
    </div>
    <div class="table-cell">
        Sambor Czerwiński: How paleoenvironmental data obtained from peatlands (and lakes) can fill the gap in archaeological and historical sources    </div>
    <div class="table-cell">
        Renske Vroom: Floating ferns for wetland restoration? Lessons learnt from four years of Azolla cultivation on former agricultural soils    </div>
    <div class="table-cell">
        12:00
    </div>
    <div class="table-cell">
        Eliise Kara: Holocene wetness and growing season changes in Linje mire, Poland    </div>
    <div class="table-cell">
        Niels van Putte: Historical soil compaction impairs biogeochemical cycling in restored tidal marshes through reduced groundwater dynamics  </div>
    <div class="table-cell">
        12:15
    </div>
    <div class="table-cell">
        Harry Roberts: Exploring the effects of human activity and fire on vegetation, hydrology and carbon accumulation in Mustjärve, Northwest Estonia    </div>
    <div class="table-cell">
        Andrew S. Wolff: Characterizing the Beneficial Uses of Arcata Marsh Constructed Wetland System and Wildlife Sanctuary    </div>
    <div class="table-cell">
        12:30
    </div>
    <div class="table-cell">
        Magdalena Suchora: Wetlands of Western Polesie (E Poland) under the human impact – palaeolimnological perspective    </div>
    <div class="table-cell">
        Stefan Lorenz: Simultaneous pesticide dynamics in surface water and subsurface shallow groundwater in depressional wetlands of north-east Germany    </div>
    <div class="table-cell">
        12:45
    </div >
    <div class="table-cell">
        Mar Albert-Saiz: The importance of water table depth thresholds in peatlands' restoration    </div>
    <div class="table-cell">
        Luca Marazzi: A Citizen Science and Engagement Approach to Tackle Plastic Pollution in England    </div>

    
</div>
<div class="table-cell">
    13:00-14:00
 </div>
 <div class="table-description">
    Lunch break
 </div>

 <div class="table-container-special">
    <div class="table-cell">
        <b>PARALLEL SESSIONS</b>
     </div>
    <div class="table-cell">
        <b>III RESTORATION: TRADE-OFFS AND LEGACIES OF THE PAST - chair Christian Fritz<br>
            (lecture room A)</b></div>
    <div class="table-cell">
        <b>IV FLOW WITH THE WATER: HYDROLOGY AND MONITORING - chair Ilona Biedroń<br>
            (lecture room B)</b>   </div>

    <div class="table-cell">
        14:00
    </div>
    <div class="table-cell">
        Gerald Jurasinski: Bright spots of peatland rewetting
    </div>
    <div class="table-cell">
        Maria Grodzka-Łukaszewska: Quantification the Mowing and Draining Debate using a model of the Biebrza Wetlands
        </div>
    <div class="table-cell">
        14:15
    </div>
    <div class="table-cell">
        Tom Heuts: Rewetting without land-use change: Have your peat and eat it too
    </div>
    <div class="table-cell">
        Floris Keizer: Revisiting the Flood Pulse Concept – Hydrological processes steering spatial floodplain zonation
    </div>
    <div class="table-cell">
        14:30
    </div>
    <div class="table-cell">
        Sannimari Käärmelahti: Effects of different irrigation techniques on Sphagnum growth and nutrient dynamics in Sphagnum paludiculture
    </div>
    <div class="table-cell">
        Goedele Verreydt: Updating an Upper Biebrza Valley model based on unique real-time measurement of groundwater fluxes
    </div>
    <div class="table-cell">
        14:45
    </div>
    <div class="table-cell">
        Wiktor Kotowski: Learning to think like the landscape. How to avoid trade-offs and maximize synergies in wetland restoration.</div>
    <div class="table-cell">
        Martyna Wietecha: How to assess peatland drying using remote sensing?</div>
    <div class="table-cell">
        15:00
    </div>
    <div class="table-cell">
        Michael Manton: Time for a change in peatland forest management: rewetting delivers €100 billion more than wood production</div>
    <div class="table-cell">
        Julian Rudziński: Change in Wetland Management over Time – Karolinów village in the Kampinos National Park</div>
            <div class="table-cell">
        15:15
    </div>
    <div class="table-cell">
        Dominik Henrik Zak: Better Slow than Fast: another Rewetting Strategy</div>
    <div class="table-cell">
        Nik Ojdanič: The importance of environmental variables on yearly changes of reed stands – a data mining approach</div>
    <div class="table-cell">
        15:30
    </div>
    <div class="table-cell">
        Carl Christian Hoffmann: Raising the water level by simple ditch blocking did not improve nutrient retention in a fen</div>
    <div class="table-cell">
        Igor Zelnik: Numerous gradients shape diverse wetland plant communities on intermittent Lake Cerknica</div>
    <div class="table-cell">
        15:45
    </div >
    <div class="table-cell">
        Christian Fritz: Paludiculture – future wetland generation from degraded peatlands</div>
    <div class="table-cell">
        Marija Chobanova: Wetland area assessment in North Macedonia</div>
</div>
<div class="table-cell">
    16:00-17:00
 </div>
 <div class="table-description">
    Poster session and drinks (lecture room A)
 </div><div class="table-cell">
    17:00-18:00
 </div>
 <div class="table-cell">
    SWS technical meeting (lecture room B)
 </div>
 <div class="table-cell">
    Optional: walk to the floodplains of Biebrza
 </div>
 <div class="table-cell">
    19:00-20:00
 </div>
 <div class="table-description">
    Dinner
 </div><div class="table-cell">
    20:00-22:00
 </div>
 <div class="table-description">
    Students get-together (lecture room B)
 </div>



<div class="table-header">
    Tuesday 25 June
 </div>
 <div class="table-cell">
    9:00-17:00
 </div>
 <div class="table-description">
    Field trips by bus (parking in front of the hotel)
 </div>
 <div class="table-cell">
    18:00-20:00
 </div>
 <div class="table-description">
    Dinner and aperitif (Restaurant)
 </div>
 <div class="table-container-special">
    <div class="table-cell">
        20:00-22:00
     </div>
    <div class="table-description">
        <b>SPECIAL PLENARY SESSION: FOUR DECADES ON DUTCH-POLISH RESEARCH COLLABORATION IN BIEBRZA WETLANDS  (chair Tomasz Okruszko) <br>
            (lecture room A)</b><br>
        Laudation by Artur Wiatr, director of Biebrza National Park <br>
        Keynote lecture - Martin Wassen: Thank you Biebrza! <br>
        Panel discussion "Biebrza for science – science for Biebrza" chaired by Tomasz Okruszko
    </div>
   
</div>
<div class="table-cell">
    22:00-24:00
 </div>
 <div class="table-description">
    Banquet at the Biebrza River bank
 </div>

 <div class="table-header">
    Wednesday 26 June
 </div>
 <div class="table-container-special">
    <div class="table-cell">
        <b>PARALLEL SESSIONS</b>
     </div>
    <div class="table-cell">
        <b>V PEATLAND ECOLOGY IN A CHANGING WORLD - chair Rudy van Diggelen <br>
            (lecture room A)</b></div>
    <div class="table-cell">
        <b>VI INTO THE FUTURE: PREDICTING AND PLANNING - chair Magdalena Suchora<br>
            (lecture room B)</b>    </div>

    <div class="table-cell">
        9:00
    </div>
    <div class="table-cell">
        Michal Antala: The photosynthetic capacity of bog cranberry (Vaccinium oxycoccos L.) and sphagnum moss (Sphagnum spp.) increases with warmer late winter and early spring: A climate manipulation study
    </div>
    <div class="table-cell">
        Robert McInnes: Setting the global agenda for wetlands: The past and future of strategic planning for the Convention on Wetlands    </div>
    <div class="table-cell">
        9:15
    </div>
    <div class="table-cell">
        Keith Edwards: Multiple environmental factors interact to affect wet grassland CO2 and CH4 emissions    </div>
    <div class="table-cell">
        Christopher Craft: Tidal Forest Productivity and Biodiversity: A Southeastern U.S. Perpective    </div>
    <div class="table-cell">
        9:30
    </div>
    <div class="table-cell">
        Jan Kucharzyk: Notes on ecological factors shaping vegetation diversity of mires in Norwegian Finmark    </div>
    <div class="table-cell">
        Michał Nowak: Predicted effects of climate change on native and alien fishes in a large floodplain river (Middle Vistula River, Poland)</div>
    <div class="table-cell">
        9:45
    </div>
    <div class="table-cell">
        Andrzej Kamocki: Implementation of the Nature Restoration Law more needed than ever: A case study from the most pristine (?) riverine wetlands in Poland.</div>
    <div class="table-cell">
        Przemysław Nawrocki: High resolution assessment of the state of river hydromorphology in Poland: legacy of thepast, challenges for now and for the future </div>
    <div class="table-cell">
        10:00
    </div>
    <div class="table-cell">
        Nina Trochanowska: Exploring the Impacts of Tree Encroachment and Mowing on Fungal Communities in Fens</div>
    <div class="table-cell">
        Ilona Biedroń: Restoration of rivers in Poland. Experiences and challenges.</div>
    <div class="table-cell">
        10:15
    </div>
    <div class="table-cell">
        Remco Versluijs: How changed river dynamics affected flow patterns in the percolation rich fen of the Rospuda Valley, NE-Poland.</div>
    <div class="table-cell">
        Mathais Scholz: Land requirements for floodplain development and restoration in Europe </div>
    <div class="table-cell">
        10:30
    </div>
    <div class="table-cell">
        Izabela Jaszczuk: Stability is the key – the peat formation potential of fens increases with decreasing water level fluctuations</div>
    <div class="table-cell">
        Matthew Simpson: Transformative change for wetlands: learning the lessons from communities to governments</div>
   
</div>
<div class="table-cell">
    10:30-11:00
 </div>
 <div class="table-description">
    Coffe break (Restaurant)
 </div>
 
 <div class="table-container-special">
    <div class="table-cell">
        <b>11:00-12:30</b>
     </div>
    <div class="table-description">
        <b>CLOSING PLENARY SESSION: TIME TO RESTORE (chair Matthew Simpson) <br>
            (lecture room A)</b></div>
    <div class="table-cell">
        11:00-11:40
     </div>
     <div class="table-description">
        Keynote lecture - Rudy van Diggelen: Time to restore.  What can science do to bring power to the peatlands?</div>
    <div class="table-cell">
        11:40-12:20</div>
     <div class="table-description">
        Keynote lecture - Viktar Fenchuk: Wetland restoration in the National park “Bielaviežskaja pušča” – the Belarusian part of the Bialowieza forest. Summary of the two decades of work</div>
    <div class="table-cell">
        12:20-13:00 </div>
     <div class="table-description">
        General discussion and closing ceremony</div>
</div>
<div class="table-cell">
    13:00-14:00
 </div>
 <div class="table-description">
    Lunch
 </div> 
 <div class="table-cell">
    14:00
 </div>
 <div class="table-description">
    Departure by bus to Warsaw
 </div>
</div>