{{ if .IsNamedParams }}
{{ $image := .Get "image" }}
{{ $image_position := .Get "image-position" }}
{{ if eq $image_position "left" }}
<div class="text-image-row">
    <div class="image">
        <img src="{{ $image | relURL }}"/>
    </div>
    <div class="text">{{ .Inner | markdownify}}</div>
</div>
{{ else }}
<div class="text-image-row">
    <div class="text">{{ .Inner | markdownify}}</div>
    <div class="image">
        <img src="{{ $image | relURL }}"/>
    </div>
</div>
{{ end }}
{{ end }}